#boxContainer {
    width: 60%;
    height: 60%;
    margin: auto auto;
    column-count: 4;
}

#row{
    margin: auto auto;
}
.box {
  background-color: black;
  width: 125px;
  height: 125px;
  display: inline-block;
  margin: auto 55px;
}
.boxColor{
    background-color: lightgrey;
}